#footer {
    margin: 100px 0 0 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3f94f7;
    .container {
        .content {
            display: flex;
            flex-direction: row;
            .col {
                white-space: nowrap;
                color: white;
                a {
                    color: white;
                }
            }
        }
    }
}